.banner img
{
 max-width: 100%;
 position: relative;
  left: 0;

}
.banner .welcome
{
  background-color: rgba(255, 187, 0, 0.904);
  color: white;
  padding: 30px;
  position: absolute;
  left: 0;
  top: 30%;
}
div span
{
 font-size: 1.2em;
}
header
{
    text-align: center;
    background-color: red;
    position: fixed;
     z-index: 1;
     width: 100%;
     top: 0px;
     right:1px;
     left:1px;
}
div
{
    position:absolute;
    top: 30%;
    left: 25px;
    font-size: 35px;
 background-color: rgb(255, 213, 28);
 padding: 30px;
}
nav
{
  background-color: rgb(187, 177, 177);
  padding:20px;
  position: sticky;
  top: 95px;

  
  
}
nav li{
  font-size: 25px;
  display: inline-block;
  width: 25%;

}
nav ul
{ white-space: nowrap;
  margin: 0 auto;
  max-width: 1200px;
 
}
nav li a
{
text-decoration: none;
color:rgb(194, 7, 16);

}

header h1
{

  color: aliceblue;
  border: 10px solid white;
  padding: 6px 12px;
  display: inline-block;
  border-radius: 40px;
}
body,ul,li,h2{
   margin: 0;
   padding: 0 auto;
   font-family: Arial;   

}
main{
  max-width: 100%;
  width: 1200px;
  margin: 80px auto;
  padding: 0 40px;
  box-sizing: border-box;
}
article h2{
  color: rgb(255, 0, 0);
  font-size: 40px;
}
article p{
  line-height: 2em;
  color: grey;
}
.images
{
  text-align: center;
  margin: 80px 0;
  white-space: nowrap;
  
}
.images li{
  display: inline-block;
  width: 40%;
  margin:20px 5%;

}
.images li img{
  max-width: 100%;
}
.join
{
  background-color: rgb(211, 207, 207);
  text-align: center;
  padding: 50px;

}
.join h2
{
  font-size: 36px;
}
.pandit
{
  font-size: 24px;
  border: 5px solid whitesmoke;
  border-radius: 30px;
  margin: 20px 0;
  padding: 10px 20px;
}
.pandita
{
  font-size: 20px;
  border: 5px solid whitesmoke;
  border-radius: 30px;
  
  
}
footer
{
  text-align: center;
  background: red;
  padding: 10px;
  margin: auto;
  display: block;
}
.images li:hover{
  position: relative;
  top: -4px;

}
nav ul li:hover{
  text-decoration: underline;
}
.pandit:focus
{
  border: 4px dashed rgb(230, 20, 20);
  outline: none;
}
.pandit:valid
{
  border: 4px solid rgb(12, 202, 12)
}
